body{
    background-image: url(../imágenes/purple-frog.jpg); }
    #cabecera{
        background-image: url(../imágenes/kyogre.webp); background-size: contain;}
        #indice{
            background-image: url(../imágenes/rajoy.jpeg); }
            #contenido{
                background-image: url(../imágenes/fish-fosh.jpg); background-size: contain;}
                #piedepagina{
                    background-image: url(../imágenes/Czechoslovakia.webp); }
